@import '../share.scss';

.instance-alerts {
  display: inline-block;
  margin-left: $padding;
  vertical-align: top;
}

.alert.sticky {
  background-color: #ba2316;
}
.alert.info {
  background-color: #ba2316;
  border: black 1px solid;
}
