.tree-builder {
  display: inline-block;
  text-align: left;

  .addNode {
    color: green;
    cursor: pointer;
  }

  & > .button {
    border: none;
    padding-left: 0;
  }

  .deleteNode {
    color: red;
    cursor: pointer;
  }

  & > .tree-node {
    margin-left: 0 !important; //TODO: Why need !important?
  }
}
