@import '../share.scss';

.tree-node {
  &.selected {
    & > .tree-node-name {
      border-bottom: solid $selected-color 2px;
    }
  }

  .button {
    border: none;
    margin-left: 5px;
  }

  .button.fa {
    color: $text-color;
  }

  .expand.fa {
    color: $text-color;
    display: inline-block;
    width: 15px;
  }

  .subscribe-node {
    color: red;
  }

  .subscribed {
    color: lightgreen;
  }

  .tree-node {
    margin-left: 20px;
  }

  .tree-node-name {
    color: $text-color;
    display: inline-block;
  }
  .tree-node-name.have-alerts {
    color: red;
  }
}
