.tree-node {
  &.selected {
    & > .tree-node-name {
      background-color: lightblue;
    }
  }

  .button {
    border: none;
    margin-left: 5px;
  }

  .expand {
    display: inline-block;
    width: 15px;
  }

  .subscribe-node {
    color: red;
  }

  .subscribed {
    color: green;
  }

  .tree-node {
    margin-left: 20px;
  }

  .tree-node-name {
    display: inline-block;
  }
}
