.tree-builder {
  display: inline-block;
  text-align: left;

  & > .button {
    border: none;
    padding-left: 0;
  }

  & > .tree-node {
    margin-left: 0 !important; //TODO: Why need !important?
  }

  .add-node {
    color: green;
  }
}
