@import '../share.scss';

.tree-node {
  margin-top: 5px;

  &.selected {
    & > .tree-node-name {
      border-bottom: solid $underline-color 1px;
    }
  }

  $alert-count-radius: 9px;

  .alert-count {
    background-color: $alert-urgent-color;
    border-radius: $alert-count-radius;
    color: white;
    display: inline-block;
    font-size: 10px;
    padding: 2px 5px;
    position: relative;
    top: -1px;
  }

  .alert-count-container {
    display: inline-block;
    height: $alert-count-radius * 2;
    margin-right: 5px;
    text-align: right;
    vertical-align: top;
    width: 27px;
  }

  .button {
    border: none;
    margin-left: 5px;
  }

  .button.fa {
    color: $text-color;
  }

  .expand {
    float: right;
  }

  .expand.fa {
    color: $text-color;
    display: inline-block;
    width: 15px;
  }

  .subscribe-node {
    color: red;
  }

  .subscribed {
    color: lightgreen;
  }

  .tree-node {
    margin-left: 20px;
  }

  .tree-node-name {
    color: $text-color;
    display: inline-block;
  }
}
