@import './share.scss';

input {
  border: solid lightgray 1px;
  border-radius: 4px;
  box-shadow: none;
  padding: 4px;
}

input[type=checkbox] {
  margin: 0;
  text-align: center;
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;

  .add:enabled {
    color: $add-color;
  }

  #body {
    display: flex;
    flex-grow: 1;

    & > section {
      h3 {
        margin-top: 0;
      }
    }
  }

  .button {
    border: none;
    margin-left: 5px;
  }

  .delete {
    color: $delete-color;
  }

  .fa {
    color: white;
    outline: none;
  }

  .heading {
    border-bottom: solid $underline-color 1px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    padding-bottom: 5px;
  }

  .import-export-btn:focus {
    outline: none;
  }

  .instance-detail {
    background-color: white;
    text-align: left;
  }

  // Center
  .instance-hierarchy {
    flex-grow: 1;
    text-align: left;
  }

  label {
    font-weight: bold;
    margin-right: 5px;
  }

  .message {
    font-size: 18px;
    font-weight: bold;
    padding: $padding;
  }
}

table {
  border-collapse: collapse;

  .button {
    border: none;
  }

  .delete {
    color: $delete-color;
  }

  td {
    text-align: left;

    input[type=text] {
      box-sizing: border-box;
      width: 100%
    }
  }

  td, th {
    padding-top: 10px;
  }

  td:not(:last-child), th:not(:last-child) {
    padding-right: 10px;
  }

  th {
    text-align: left;
  }
}
