@import './share.scss';

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;

  .app-header {
    background-color: #222;
    height: 60px;
    padding: 10px;
    color: white;
  }

  .app-title {
    font-size: 24px;
  }

  #body {
    display: flex;
    flex-grow: 1;

    & > section {
      padding: 10px;

      h3 {
        margin-top: 0;
      }
    }
  }

  .instance-detail, .type-alerts {
    background-color: $bg-color3;
    text-align: left;
    width: 400px;
  }

  input {
    border: solid lightgray 1px;
    border-radius: 4px;
    box-shadow: none;
    padding: 4px;
  }

  label {
    font-weight: bold;
    margin-right: 5px;
  }

  .left-nav {
    background-color: $bg-color1;
    width: 300px;
  }

  .instance-hierarchy, .type-properties {
    background-color: $bg-color2;
    flex-grow: 1;
    text-align: left;
  }
}

table {
  background-color: white;
  border-collapse: collapse;

  .button {
    border: none;
  }

  .delete {
    color: red;
  }

  td {
    text-align: left;
  }

  td, th {
    border: solid lightgray 1px;
    padding: 5px;
  }
}
