.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;

  .app-header {
    background-color: #222;
    height: 60px;
    padding: 20px;
    color: white;
  }

  .app-title {
    font-size: 1.5em;
  }

  #body {
    display: flex;
    flex-grow: 1;

    & > section {
      padding: 10px;

      h3 {
        margin-top: 0;
      }
    }
  }

  input {
    border: solid lightgray 1px;
    border-radius: 4px;
    box-shadow: none;
    padding: 4px;
  }

  label {
    font-weight: bold;
    margin-right: 5px;
  }

  .left-nav {
    border-right: solid blue 3px;
    width: 300px;
  }

  .parent-view {
    flex-grow: 1;
  }

  .child-view {
    border-left: solid blue 3px;
    width: 300px;
  }
}
