@import './share.scss';

input {
  border: solid lightgray 1px;
  border-radius: 4px;
  box-shadow: none;
  padding: 4px;
}

input[type=checkbox] {
  margin: 0;
  text-align: center;
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;

  .add:enabled {
    color: $add-color;
  }

  .fa {
    color: white;
  }

  #body {
    background-color: $oci-light-blue;
    display: flex;
    flex-grow: 1;

    & > section {
      padding: $padding;

      h3 {
        margin-top: 0;
      }
    }
  }

  .button {
    border: none;
    margin-left: 5px;
  }

  .delete {
    color: $delete-color;
  }

  .import-export-btn:focus {
    outline: none;
  }

  // Right side
  .instance-detail, .type-alerts {
    background-color: $oci-orange;
    text-align: left;
  }

  .instance-detail {
    width: 300px;
  }

  // Center
  .instance-hierarchy, .type-properties {
    flex-grow: 1;
    text-align: left;
  }

  label {
    font-weight: bold;
    margin-right: 5px;
  }

  .left-nav {
    background-color: #F1F2F2;
    width: 300px;
  }

  .type-alerts {
    width: 500px;
  }
}

table {
  background-color: white;
  border: solid gray 5px;
  border-collapse: collapse;

  .button {
    border: none;
  }

  .delete {
    color: $delete-color;
  }

  td {
    text-align: left;

    input[type=text] {
      box-sizing: border-box;
      width: 100%
    }
  }

  td, th {
    border: solid lightgray 1px;
    padding: $padding / 2;
  }
}
