$add-color: lightgreen;
$delete-color: red;
$error-color: #ba2316; // red
$font-color: white;
$input-background-color: white;
$oci-blue: #265AA8;
$oci-light-blue: #72C7D5;
$oci-orange: #FEB772;
$padding: 10px;
$selected-color: lightgreen;
