$add-color: green;
$bg-color1: #fee2af; // tan
$bg-color2: #d3d3d3; // gray
$bg-color3: #fdaa18; // orange
$delete-color: red;
$error-color: #ba2316; // red
$font-color: white;
$input-background-color: white;
$padding: 10px;
$selected-bg-color: lightgreen;
