.message-servers {
  text-align: left;

  .button {
    border: none;
  }

  .host-input {
    box-sizing: border-box;
    width: 100%;
  }

  .port-input {
    width: 40px;
  }

  table {
    width: 100%;
  }
}
