@import '../share.scss';

.import-json {
  text-align: right;

  a {
    color: $alert-urgent-color;
    font-size: 11px;
    margin-right: 10px;
  }

  input {
    display: block;
    margin-bottom: 20px;
  }
}
