.button {
  background-color: transparent;
  border: solid gray 2px;
  border-radius: 4px;
  color: black;
  cursor: pointer;
  display: inline-block;
  padding: 5px;

  &.disabled {
    border-color: lightgray;
    color: lightgray !important;
  }
}
