@import '../share.scss';

.button {
  background-color: transparent;
  color: white;
  cursor: pointer;
  display: inline-block;

  &.disabled {
    border-color: lightgray;
    color: lightgray !important;
  }
}
