.sd-modal {
  $spacing: 20px;

  background: white;
  border: solid #ccc 1px;
  border-radius: 4px;
  bottom: auto;
  left: 50%;
  overflow: auto;
  position: absolute;
  right: auto;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);

  &:focus {
    outline: none;
  }

  &.error {
    border: solid red 2px;

    header {
      background-color: red;
      color: white;
    }
  }

  .body {
    padding: $spacing;
  }

  .button-row {
    margin-top: $spacing;
    text-align: right;

    button, .button {
      border-radius: 5px;
      font-size: 14px;
      font-weight: bold;
      margin-left: 10px;
      padding: 4px;
    }
  }

  .close {
    cursor: pointer;
    display: inline-block;
    margin-left: $spacing;
    float: right;
  }

  header {
    background-color: lightyellow;
    border-bottom: solid lightgray 1px;
    padding: $spacing;
  }

  p, .title {
    cursor: default;
  }

  select {
    font-size: 14px;
  }

  .title {
    display: inline-block;
    font-weight: bold;
  }
}
