@import '../share.scss';

.sd-modal {
  $spacing: 20px;

  background: white;
  border: solid $primary-color 1px;
  bottom: auto;
  left: 50%;
  overflow: auto;
  position: absolute;
  right: auto;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);

  &:focus {
    outline: none;
  }

  &.error {
    border: solid red 2px;

    header {
      background-color: red;
      color: white;
    }
  }

  .body {
    padding: $spacing;
  }

  .button {
    background-color: $primary-color;
    border-radius: 13px;
    padding: 5px 20px;
  }

  .button-row {
    margin-top: $spacing;
    text-align: right;

    button, .button {
      border-radius: 5px;
      font-size: 14px;
      font-weight: bold;
      margin-left: 10px;
      padding: 4px;
    }
  }

  .close {
    cursor: pointer;
    display: inline-block;
    margin-left: $spacing;
    float: right;
  }

  header {
    align-items: center;
    background-color: $primary-color;
    color: white;
    display: flex;
    font-size: 15px; /*30px;*/
    height: 40px; /*64px;*/
    justify-content: space-between;
    padding: 0 10px;
  }

  p, .title {
    cursor: default;
  }

  select {
    font-size: 14px;
  }

  .title {
    display: inline-block;
    font-weight: bold;
  }
}
