@import '../share.scss';

.type-properties {
  display: inline-block;
  width: 300px;

  .actions-column {
    width: 36px;
  }

  .button {
    border: none;
    margin-left: 0 !important;
  }

  .buttons {
    display: inline-block;
  }

  h3 {
    margin-bottom: 0;
  }

  .kind-column {
    width: 100px;
  }

  .name-column {
    width: 200px;
  }

  > section {
    padding: $padding;
  }
}
