@import '../share.scss';

.type-properties {
  text-align: left;

  .actions-column {
    text-align: center;
  }

  .breadcrumbs {
    background-color: $secondary-color;
    color: gray;
    padding-top: 5px;
  }

  .button {
    border: none;
  }

  .buttons {
    display: inline-block;
  }

  header {
    background-color: $secondary-color;
    padding: $padding;

    .buttons {
      float: right;
    }

    > div:first-child {
      border-bottom: solid gray 1px;
      padding-bottom: 5px;
    }
  }

  > h3 {
    padding: $padding;
  }

  > section {
    padding: $padding;
  }

  table {
    width: 100%;
  }

  .title {
    color: $primary-color;
    display: inline-block;
    font-size: 24px;
  }
}
