@import '../share.scss';

.type-properties {
  text-align: left;

  .actions-column {
    width: 36px;
  }

  .breadcrumbs {
    background-color: $secondary-color;
    color: gray;
    padding-top: 5px;
  }

  .button {
    border: none;
    margin-left: 0 !important;
  }

  .buttons {
    display: inline-block;
  }

  h3 {
    margin-bottom: 0;
  }

  header {
    background-color: $secondary-color;
    padding: $padding;

    .buttons {
      float: right;
    }

    > div:first-child {
      border-bottom: solid gray 1px;
      padding-bottom: 5px;
    }
  }

  .kind-column {
    width: 100px;
  }

  .name-column {
    width: 200px;
  }

  > section {
    padding: $padding;
  }

  .title {
    color: $primary-color;
    display: inline-block;
    font-size: 24px;
  }
}
