@import '../share.scss';

.type-alerts {
  .button.fa-plus {
    color: $add-color;
  }

  .message-server {
    margin-bottom: 20px;
  }

  select {
    font-size: 18px;
  }

  table {
    width: 100%;
  }
}
