@import '../share.scss';

.alert {
  background-color: $alert-red;
  border: solid $alert-red 2px;
  border-radius: 5px;
  color: white;
  font-size: 10px;
  margin-bottom: 5px;
  padding: 5px;

  .close {
    color: white;
    cursor: pointer;
    float: right;
  }

  &.sticky {
    border-color: black;
  }
}

