@import '../share.scss';

.alert {
  border-radius: 5px;
  color: white;
  font-size: 10px;
  margin-bottom: 5px;
  padding: $padding;
  width: 200px;

  .close {
    color: white;
    cursor: pointer;
    float: right;
  }

  &.high {
    background-color: $alert-high-color;
  }

  &.info {
    background-color: $alert-info-color;
  }

  &.low {
    background-color: $alert-low-color;
  }

  &.medium {
    background-color: $alert-medium-color;
  }

  &.sticky {
    border-color: black;
  }
}

