.alert {
  $red: #BA2316;
  background-color: $red;
  border: solid $red 2px;
  border-radius: 5px;
  color: white;
  font-size: 10px;
  margin-bottom: 5px;
  padding: 5px;

  .close {
    color: white;
    cursor: pointer;
    float: right;
  }

  &.sticky {
    border-color: black;
  }
}

