@import '../share.scss';

.header {
  align-items: center;
  background-color: $error-color;
  display: flex;
  height: 64px;
  justify-content: space-between;
  color: white;

  .secure {
    background-color: $primary-color;
  }

  button {
    margin: 0;
    outline: none;
    padding: 0;
  }

  .fa {
    height: 32px;
    margin-right: 28px;
  }

  .import-export-btn {
  }

  .left,
  .right {
    align-items: center;
    display: flex;
  }

  .logo {
    height: 48px;
    margin: 0 32px;
  }

  .title {
    color: white;
    font-size: 24px;
  }
}
