@import '../share.scss';

$badgeSize: 30px;
$borderSize: 5px;
$radius: 50px;
$size: $radius * 2 - $borderSize * 2;

.node {
  display: inline-block;
  margin: 0 20px;
  text-align: center;

  .circle {
    align-items: center;
    background-color: white;
    border: solid $bg-color3 $borderSize;
    border-radius: $radius;
    display: flex;
    height: $size;
    justify-content: center;
    margin-bottom: 10px;
    position: relative;
    width: $size;

    .badge {
      align-items: center;
      color: white;
      background-color: $error-color;
      bottom: 0;
      border-radius: $badgeSize / 2;
      box-sizing: border-box;
      display: flex;
      height: $badgeSize;
      justify-content: center;
      right: 0;
      position: absolute;
      width: $badgeSize;
    }
  }

  &.selected {
    .circle {
      border-color: green;
    }
  }
}
