@import '../share.scss';

$borderSize: 5px;
$radius: 50px;
$size: $radius * 2 - $borderSize * 2;

.node {
  display: inline-block;
  margin: 0 20px;
  text-align: center;

  .circle {
    align-items: center;
    background-color: white;
    border: solid $bg-color3 $borderSize;
    border-radius: $radius;
    display: flex;
    height: $size;
    justify-content: center;
    margin-bottom: 10px;
    width: $size;
  }

  &.selected {
    .circle {
      border-color: green;
    }
  }
}
