@import '../share.scss';

$badgeSize: 30px;
$borderSize: 5px;
$radius: 30px;
$size: $radius * 2 - $borderSize * 2;

.node {
  display: inline-block;
  margin: 0 20px 20px 20px;
  text-align: center;

  .circle {
    align-items: center;
    background-color: white;
    border: solid $oci-orange $borderSize;
    border-radius: $radius;
    display: flex;
    height: $size;
    justify-content: center;
    position: relative;
    width: $size * 3;

    .badge {
      align-items: center;
      color: white;
      background-color: $error-color;
      bottom: -$borderSize;
      border-radius: $badgeSize / 2;
      box-sizing: border-box;
      display: flex;
      height: $badgeSize;
      justify-content: center;
      right: -$borderSize;
      position: absolute;
      width: $badgeSize;
    }
  }

  &.selected {
    .circle {
      border-color: lightgreen;
    }
  }
}
