@import '../share.scss';

.enums {
  display: flex;
  width: 100%;

  .button {
    border: none;
  }

  .enum-member-name-input,
  .enum-member-value-input,
  .enum-name-input {
    box-sizing: border-box;
    width: 100%;
  }

  .enum-member-table {
    .value-column {
      text-align: right;
      width: 45px;

      input {
        width: 100%;
      }
    }
  }

  h3 {
    border-bottom: solid $underline-color 1px;
    margin-bottom: 0;
    padding-bottom: 5px;
    text-align: left;
  }

  .left, .right {
    display: inline-block;
    padding: $padding;
  }

  .port-input {
    width: 40px;
  }

  .right {
    background-color: $selected-color;
    flex-grow: 1;
    height: calc(100vh - 84px);
    margin-left: 20px;
  }

  .selected-enum {
    background-color: $selected-color;
  }
}
