@import '../share.scss';

.enums {
  text-align: left;

  .button {
    border: none;
  }

  .enum-member-name-input,
  .enum-member-value-input,
  .enum-name-input {
    box-sizing: border-box;
    width: 100%;
  }

  .enum-member-table {
    margin-top: 20px;
  }

  & > h3 {
    margin-top: 20px !important;
  }

  .port-input {
    width: 40px;
  }

  .selected-enum {
    background-color: $selected-color;
  }

  table {
    width: 100%;
  }
}
