@import '../share.scss';

.enums {
  text-align: left;

  .button {
    border: none;
  }

  .enum-member-name-input,
  .enum-member-value-input,
  .enum-name-input {
    box-sizing: border-box;
    width: 100%;
  }

  .enum-member-table {

    .value-column {
      text-align: right;
      width: 45px;

      input {
        width: 100%;
      }
    }
  }

  .port-input {
    width: 40px;
  }

  > h3:not(:first-child) {
    margin-top: 20px !important;
  }

  .selected-enum {
    background-color: $selected-color;
  }
}
