.left-nav {
  h3 {
    color: white;
  }

  .react-tabs {
    text-align: left;

    .react-tabs__tab {
      color: white;
    }

    .react-tabs__tab--selected {
      color: black;
    }
  }

  .tree-builder {
    display: block;
    vertical-align: top;

    .new-div {
      display: flex;

      input {
        flex-grow: 1;
      }
    }
  }

  .tree-radio {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;

    input:nth-child(2) {
      margin-left: 20px;
    }
  }
}
