.left-nav {
  .react-tabs {
    text-align: left;
  }

  .tree-builder {
    display: block;
    vertical-align: top;

    .new-div {
      display: flex;

      input {
        flex-grow: 1;
      }
    }
  }

  .tree-radio {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;

    input:nth-child(2) {
      margin-left: 20px;
    }
  }
}
