$borderSize: 5px;
$radius: 50px;
$size: $radius * 2 - $borderSize * 2;

.node {
  display: inline-block;
  margin: 20px;
  text-align: center;

  .circle {
    border: solid lightgray $borderSize;
    border-radius: $radius;
    height: $size;
    line-height: $size;
    margin-bottom: 10px;
    width: $size;
  }
}
