.train-control {
  $background-color: #737373;

  background-color: $background-color;
  display: inline-block;
  padding: 20px;
  width: auto;

  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    .billboard {
      display: inline-block;
      font-size: 18px;
      font-weight: bold;
      margin-left: 5px;
    }

    .counters {
      display: inline-block;

      > div {
        background-color: black;
        color: white;
        display: inline-block;
        margin-right: 2px;
        padding: 2px 5px;
      }
    }

    img {
      height: 33px;
    }

    .left, .right {
      align-items: center;
      display: flex;
    }
  }

  input[type=range] {
    display: block;
    margin-top: 10px;
    width: 190px;
  }

  label {
    display: block;
    font-style: italic;
    font-weight: normal !important;
    text-align: center;
  }

  .light {
    display: inline-block;
    vertical-align: top;
  }

  .light-dark {
    fill: #555; // dark gray
  }

  .light-light {
    fill: #AAA; // light gray
  }

  .light-mode {
    $color: #B8B8B8;
    $radius: 5px;

    display: flex;
    margin-bottom: 12px;
    margin-top: 10px;

    button {
      color: $color;
      background-color: transparent;
      border-color: $color;
      border-radius: 0;
      flex-grow: 1;
      font-size: 12px;
      outline: none;
      padding: 8px 0;
    }

    button.selected {
      color: $background-color;
      background-color: $color;
    }

    button:nth-child(1) {
      border-top-left-radius: $radius;
      border-bottom-left-radius: $radius;
      border-right: none;
    }

    button:nth-child(3) {
      border-left: none;
      border-top-right-radius: $radius;
      border-bottom-right-radius: $radius;
    }
  }

  .power {
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;

    .power-slider {
      margin-top: 28px;
    }
  }

  .power-forward {
    fill: #00FF02; // green
  }

  .power-idle {
    fill: #FFFF02; // yellow
  }

  .power-reverse {
    fill: #F00; // red
  }
}
