.train-control {
  background-color: #737373;
  display: inline-block;
  padding: 20px;
  width: auto;

  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    .counters {
      display: inline-block;

      > div {
        background-color: black;
        color: white;
        display: inline-block;
        margin-right: 2px;
        padding: 2px 5px;
      }
    }

    img {
      height: 33px;
    }

    .left, .right {
      align-items: center;
      display: flex;
    }

    .title {
      display: inline-block;
      font-size: 18px;
      font-weight: bold;
      margin-left: 5px;
    }
  }

  input[type=range] {
    display: block;
    margin-top: 10px;
    width: 190px;
  }

  label {
    display: block;
    font-style: italic;
    font-weight: normal !important;
    text-align: center;
  }

  .light {
    display: inline-block;
  }

  .light-dark {
    fill: #555; // dark gray
  }

  .light-light {
    fill: #AAA; // light gray
  }

  .power {
    display: inline-block;
    margin-right: 20px;
  }

  .power-forward {
    fill: #00FF02; // green
  }

  .power-idle {
    fill: #FFFF02; // yellow
  }

  .power-reverse {
    fill: #F00; // red
  }
}
